body{
    background-color: black;
}
.navbar{
    display: flex;
    width: 100%;
    height: 70px;
    /* box-shadow: 1px 1px 3px rgb(87, 85, 85); */
    border-bottom: 2px solid grey;
    margin: 0px;
    padding: 0px;
    font-family: 'Satisfy', cursive;
    
}
#dpp{
    width: 100px;
    height: 70px;
}
.nbar{
    display: flex;
    /* padding: 19px 50px;  */
    margin-left: 100px;
    
}
.nbar a{
    padding: 17px 25px;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    /* text-shadow: 1px 1px red; */
}
.nbar a:hover{
    /* padding: 17px 25px; */
    /* font-size: 1.3rem; */
    /* text-decoration: none; */
    color: red;
    /* text-shadow: 1px 1px white; */
}
#ob{

    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 15px 20px;

}
.overview p{
    color: white;
    font-family: 'Kalam', cursive;
}
.overview h1{
    text-align: center;
    justify-content: center;
    color: red;
    font-family: 'Satisfy', cursive;
}

/* Cast CSS: */

h1{
    color: red;
    text-align: center;
    justify-content: center;
    /* box-shadow: 1px 1px rgb(99, 97, 97); */
    font-family: 'Satisfy', cursive;
    
}
.cont{
    display: flex;
    /* padding: 10px 350px; */
    /* display: block; */
}
.cast img{
    height: 200px;
    width: 150px;
}
.cast h4{
    color: red;
    text-align: center;
    font-family: sans-serif;
    font-family: 'Kalam', cursive;
}
.cast{
    border: 2px solid white;
    padding: 10px ;
    margin: 20px;
    transition: all 0.5s;
}
.cast:hover{
    border: 2px solid red;
    /* color: white; */
    transform: scale(1.3);
    /* transform: skew(5deg); */
}
.img img {
    width: 1400px;
    height: 800px;
}

.img img::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}



.img p {
    color: white;
}
.maincont{
    display: flex;
}
.epi{
    border: 2px solid red;
    color: white;
    margin:10px;
    padding: 12px;
    width: 330px;
    height: 230px;
    /* border-radius: 10px; */
    align-items: center;
    align-content: center;
    font-family: 'Kalam', cursive;
    
}
.epi h2{
    color: red;
    align-items: center;
    align-content: center;
    font-family: 'Satisfy', cursive;

}
.season{
    color: rgb(247, 164, 164);
    font-size: 50px;
    text-align:center;
    font-family: 'Satisfy', cursive;
}
.volume{
    font-size: 30px;
    color: rgb(225, 160, 160);
    margin: 0px 315px;
    font-family: 'Satisfy', cursive;
}
.volumet{
    font-size: 30px;
    color: rgb(225, 160, 160);
    margin: 0px 900px;
    font-family: 'Satisfy', cursive;
}
.epi:hover{
    /* border: 2px solid white; */
    
    border:2px solid  rgb(247, 164, 164);
    color: red;
}
.epi:hover h2{
    /* color: white; */
    
    color: rgb(247, 164, 164);
}
.dpp h2 {
    text-align: center;
    color: red;
    font-family: 'Satisfy', cursive;
    font-size: 50px;

}

.que {
    color: white;
    padding: 8px;
    font-size: 25px;
}

.hov:hover {
    color: red;
}

.subres {
    color: black;
    font-family: 'Dancing Script', cursive;
    margin-left: 50px;
}

.sur:hover {
    color: white;
    background-color: red;
}

.sur {
    font-family: 'Dancing Script', cursive;
    height: 35px;
    width: 70px;
    font-size: 17px;
    margin: auto;
}
.hov{
    list-style: none;
}
.hovv{
    font-weight: bold;
    list-style: none;
}
marquee{
    color: white;
    font-size: 20px;
}
.footer{
    border-top: 2px solid white;
    color: rgb(247, 164, 164);
    height: 40px;
    text-align: center;
    justify-content: center;
    text-justify: auto;
    margin-top: 6px;
    padding-top: 15px;
}